.slider {
	position:relative;
	width:756px;
	padding-top:370px;
	text-align:center;
    margin: auto;
}
.slider__check {
	position:absolute;
	clip:rect(0 0 0 0);
	overflow:hidden;
}
.slider__image {
	position:absolute;
	top:0;
	left:0;
}
.slider__label {
	overflow:hidden;
	display:inline-block;
	width:20px;
	height:20px;
	background:rgb(0, 0, 0);
	border-radius:50%;
	text-indent:-9999px;
	transition: 0.5s;
	cursor: pointer;
	margin: 50px 0 0 0;
}
.slider__label:hover{
	opacity: 0.6;
}
#slider_label{
	margin: auto;
}
#review-center{
    width: 636px;
    height: 350px;
    background-color: rgb(85, 85, 85);
    border-radius: 10px;
    margin: auto;
    padding: 30px 60px 30px 60px;
	overflow: hidden;
	overflow-y: scroll;
}
#review-center::-webkit-scrollbar{
	width: 0;
}
.h-review{
    color: white;
	font-family: 'El Messiri', sans-serif;
    font-weight: 700;
}
.p-review{
    color: white;
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 140%;
    font-size: 18px;
	text-align: left;
}
.slider__image {
	display:none;
}
.slider__check:checked + .slider__label + .slider__image {
	display:block;
}

.slider__check:checked + .slider__label {
	background:rgb(211, 211, 211);
}

